/*style applied to the whole site*/
body{
	margin:0;
	padding:0px;
	color:#000;
  font-family: 'Lato', sans-serif;
	}
/************************************
HEADER
************************************/
/*contains the header*/
.wrap {
	width: 100%;
	margin: 0 auto;
  background-color: #000;
  position: fixed;
	}	
.header {
      color: #fff;
      text-align: center;
  }
/*contains the articles and slide to the left*/
.menuHide{
   	position: relative;
    left: -20%;

}
/*this div allows the menu to show*/
.menuShow{
   position: relative;
   left: 0px;
}


.header {
    	color: #fff;
    	text-align: center;


	}


.menu{
  float: left;
  width: 20%;
  margin-top: 17%;
}
/*contais the articles*/
.content
{
  float: right;
  width:80%;
  margin-top: 10%; /* for fixed header */ /*something gets screwy going from big to mobile. originally had at 35%*/
  margin-bottom: 15%;
}

/************************************
FOOTER
************************************/


/*.copyright {
    text-align: center;
    font-size: 90%;
    background-color:red;
    height: 40px;*/
   /* position: fixed;*/

  
    /*
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0px;*/
    
}

#copy {

  padding-bottom: 5x;

}

.footer {
    clear: both;
    text-align: center;
    font-size: 90%;
    background-color:red;
    position:fixed;
    width: 100%;
  margin: 0 auto;
    bottom:0px;
    left:0px;
    right:0px;

    /*height:50px;*/
    margin-bottom:0px;

    /*height: 50px;*/
    margin-bottom:0px;
    padding: 5px;


    
}



