/*style applied to the whole site*/
body{
  margin:0;
  padding:0px;
  color:#000;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  }
/************************************
HEADER
************************************/
/*contains the header*/

.wrap {
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  position: fixed;
  color: #fff;
  text-align: center;
  } 

.header {
      color: #fff;
      text-align: center;
  }
/*contains the articles and slide to the left*/
.menuHide{
    position: relative;
    left: -20%;
    text-decoration: none;

}
/*this div allows the menu to show*/
.menuShow{
   position: relative;
   left: 0px;
}

.menu{
  float: left;
  width: 20%;
  margin-top: 15%;
  position: fixed;
  padding-left: 3px;
  font-size: 20px;
}

.menu div
{
  padding-bottom:  15px;
}

/*contais the articles*/
.content
{
  float: right;
  width:80%;
  margin-top: 20%; /* for fixed header */ /*something gets screwy going from big to mobile. originally had at 35%*/
  margin-bottom: 15%;
}
/************************************
NAVIGATION MENU
************************************/

.articleMenu{
 
}

/************************************
IMAGES
************************************/
img{
  max-width: 75%

}



/************************************
FOOTER
************************************/


.copyright {
    text-align: center;
    font-size: 80%;
    background-color:red;
    /*position: fixed;*/
    bottom: 0px;
    /*margin-top: 10%;*/
    padding-top: 15px;

}
.hamburger{
  position: fixed;
  max-width: none;
}


.footer {
    clear: both;
    text-align: center;
    background-color:red;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height: 55px;
    margin-bottom:0px;
    padding: 6px;
}
